html , body { 
    overflow-x: hidden;
    color: #232323;
    font-family: "Muli" , sans-serif;
}
* { 
    padding: 0;
    margin: 0;
    position: relative;
}
::-webkit-scrollbar { 
    display: none;
}
@font-face {
    font-family: "Muli";
    src: url(../fonts/Muli-Light.ttf);
}
@font-face {
    font-family: "Oswald Bold";
    src: url(../fonts/Oswald-Bold.ttf);
}
@font-face {
    font-family: "Oswald Regular";
    src: url(../fonts/Oswald-Regular.ttf);
}
@font-face {
    font-family: "Oswald Medium";
    src: url(../fonts/Oswald-Medium.ttf);
}
a { 
    text-decoration: none;
}
ol , ul { 
    list-style-type: none;
}


.blog { 
    background-color: #020230;
    padding: 100px;
    height: 100%;
}
.blog .container { 
    position: relative;
    
}
.blog .container header { 
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    align-items: center;
    background-color: #010E21;
    z-index: 9999;
}

.blog .container header .row-header { 
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    padding: 10px 0;
}
.blog .container header .row-header .logo { 
    position: relative;
    left: 100px;
}
.blog .container header .row-header .nav { 
    position: relative;
}
.blog .container header .row-header .nav ul { 
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    padding: 5px 0;
}
.blog .container header .row-header .nav ul li a { 
    font-size: 14px;
    color: #fff;
    font-weight: 300;
}
.blog .container header .row-header .nav ul li a:hover { 
    color: #e031c3;
    transition: 0.3s ease;
}
.blog .container header .row-header .btn { 
    position: relative;
    right: 100px;
}
.blog .container header .row-header .btn a button { 
    width: 175px;
    font-size: 15px;
    background: #f32a48;
    border: none;
    height: 100%;
    border-radius: 25px;
    border: #f32a48;
    color: #fff;
    font-weight: 1000;
    cursor: pointer;
}
.blog .container header .row-header .btn .icon { 
    position: absolute;
    top: 7px;
    left: 12px;
}
.blog .container header .row-header .btn .icon i { 
    font-size: 17px;
    color: #fff;
}
.blog .container header .row-header .btn a button:hover { 
    transition: 0.5s ease-in;
    background-color: #bd273d;
    
}
/* The Bars */


  
.sidebar {
    z-index: 111111;
    position: fixed;
    right: 0;
    width: 100%;
    height: 100%;
    background: #10285d;
    left: -100%;
}

.sidebar ul {
    list-style-type: none;
}
label #btn { 
    color: #fff;
}

.sidebar ul li a {
    text-align: center;
    font-size: 25px;
    color: #fff;
}

.sidebar ul li ul li a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 25px;
    color: white;
    padding: 0 0 0 40px;
    transition: .5s all linear;
    position: relative;
  
    left: calc(1% - 25px);
    top: 50px;
}


.sidebar ul li ul li:hover a {
    color: red;
}

#check {
    display: none;
}

label #btn {
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border-radius: 6px;
    top: 1%;
    font-size: 25px;
    padding: 6px 12px;
    z-index: 111111111;
    color: #333;
    right: 85%;
}

label #cancel {
    position: fixed;
    z-index: 1111;
    left: -80%;
    top: 1%;
    font-size: 25px;
    padding: 6px 12px;
    color: #fff;
    cursor: pointer;
}

#check:checked~.sidebar {
    left: 100px;
}

#check:checked~label #btn {
    opacity: 1;
    pointer-events: none;
}

#check:checked~label #cancel {
    left: 1%;
}
.sidebar , label ,#checkbox { 
    display: none;
}
/* The end of bars */
.blog .row { 
    display: flex;
    justify-content: center;
    align-items: center;

}
.blog .row .col { 
    text-align: center;
}
.blog .row .col img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog .row .col h1 { 
    font-family: "Oswald Regular";
    font-size: 65px;
    color: #fff;
    font-weight: 600;
    padding: 0 0 10px 0;
}   
.blog .row .col h3 { 
    font-size: 13px;
    color: #fff;
    padding: 8px 0;
    font-family: "Muli";
    font-weight: 1000;
}
.blog .row .col .btn { 
    position: relative;
    padding: 20px 0;
}
.blog .row .col .btn a button { 
    background-color: #eb566c;
    font-size: 14px;
    font-family: "Oswald Regular";
    color: #fff;
    text-transform: uppercase;  
    text-align: center;
    width: 200px;
    height: 50px;
    outline: none;
    border: transparent;
    border-radius: 25px;
    cursor: pointer;
}
.blog .row .col .btn a button:hover { 
    transform:scale(1.1);
    background-color: #bd273d;
    transition: 0.3s ease-in;
}
.contact { 
    padding: 150px;
    background-color: #fff;
}
.contact .map { 
    text-align: center;
}
.contact .map img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: crosshair;
}
.contact .center { 
   text-align: start;
   padding: 30px 0;
}
.contact .center .msg-input { 
    position: relative;
    padding: 10px 0;

}
.contact .center .msg-input input { 
    width: 100%;
    padding: 10px 15px 75px 15px;
}
input { 
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    outline: none;
    color: #232323;
    font-size: 16px;
    font-family: "Oswald Regular";
    font-weight: 300;
}
.contact .center .name-input { 
    display: flex;
   
    column-gap: 60px;
    padding: 10px 0;
}
.contact .center .name-input .col { 
    flex-basis: 50%;
}
.contact .center .sbj { 
    padding: 10px 0;
}
.contact .center .btn { 
    padding: 20px 0;
}
.contact .center .btn a button { 
    border: 1px solid #eb566c ;
    background-color: #fff;
    color: #eb566c ;
    font-family: "Oswald Regular";
    font-weight: 200;
    cursor: pointer;
   outline: none;
  width: 150px;
  height: 60px;
  font-size: 17px;
}
.contact .center .btn a button:hover { 
    background-color: #eb566c;
    color: #fff;
    border: none;
    transition: 0.3s ease-in;
}
footer { 
    background: url(../images/footer\ bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
footer .footer-top { 
    padding: 100px;
    position: relative;
}
footer .footer-top .row { 
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    padding: 10px 0;
}
.footer-top .row .col { 
    flex-basis: 33%;
}
.footer-top .row .col h3 { 
    color: #fff;
    font-size: 20px;
    font-family: "Oswald Regular";
    font-weight: 100;
    padding: 0 0 25px 0;
}
.footer-top .row .col h4 { 
    font-size: 16px;
    color: #8ba4b1;
    font-weight: 300;
}
.footer-top .row .col ul { 
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
    flex-direction: column;
}
.footer-top .row .col ul  li a { 
    font-size: 16px;
    color: #8ba4b1;
    font-weight: 300;
}
.footer-top .row .col ul li a:hover { 
    color: #eb566c;
    padding: 0 0 0 15px;
    transition: 0.3s linear;
}
.footer-bottom { 
    padding: 30px 100px;
    position: relative;
}
.footer-bottom .center { 
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}
.footer-bottom .center .col { 
    flex-basis: 50%;
}
.footer-bottom .center .col h3 { 
    font-size: 16px;
    color: #8ba4b1;
    font-family: "Oswald Regular";
    font-weight: 200;
}
.footer-bottom .center .col span { 
    color: #eb566c;
    font-size: 16px;
    font-family: "Oswald Regular";
    font-weight: 200;
    border: none ;
}
.footer-bottom .center .col h3 i { 
    font-size: 20px;
    color: #eb566c;
}
.footer-bottom .center .col .icons { 
    display: flex;
    column-gap: 20px;
    justify-content: end;
    
}
.footer-bottom .center .col .icons a i { 
      color: #8ba4b1;
      border:1px solid  #f5f5f5;
      font-size: 14px;
      padding: 10px 15px;
      border-radius: 50%;   

}

.footer-bottom .center .col .icons a i:hover { 
    background-color: #eb566c;
    border: none;
    transition: all 0.3s ease-in;
    color: #fff;
}