html , body { 
    overflow-x: hidden;
    color: #232323;
    font-family: "Muli" , sans-serif;
}
* { 
    padding: 0;
    margin: 0;
    position: relative;
}
::-webkit-scrollbar { 
    display: none;
}
@font-face {
    font-family: "Muli";
    src: url(../fonts/Muli-Light.ttf);
}
@font-face {
    font-family: "Oswald Bold";
    src: url(../fonts/Oswald-Bold.ttf);
}
@font-face {
    font-family: "Oswald Regular";
    src: url(../fonts/Oswald-Regular.ttf);
}
@font-face {
    font-family: "Oswald Medium";
    src: url(../fonts/Oswald-Medium.ttf);
}
a { 
    text-decoration: none;
}
ol , ul { 
    list-style-type: none;
}


.blog { 
    background-color: #020230;
    padding: 100px;
    height: 100%;
}
.blog .container { 
    position: relative;
    
}
.blog .container header { 
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    align-items: center;
    background-color: #010E21;
    z-index: 9999;
}

.blog .container header .row-header { 
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    padding: 10px 0;
}
.blog .container header .row-header .logo { 
    position: relative;
    left: 100px;
}
.blog .container header .row-header .nav { 
    position: relative;
}
.blog .container header .row-header .nav ul { 
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    padding: 5px 0;
}
.blog .container header .row-header .nav ul li a { 
    font-size: 14px;
    color: #fff;
    font-weight: 300;
}
.blog .container header .row-header .nav ul li a:hover { 
    color: #e031c3;
    transition: 0.3s ease;
}
.blog .container header .row-header .btn { 
    position: relative;
    right: 100px;
}
.blog .container header .row-header .btn a button { 
    width: 175px;
    font-size: 15px;
    background: #f32a48;
    border: none;
    height: 100%;
    border-radius: 25px;
    border: #f32a48;
    color: #fff;
    font-weight: 1000;
    cursor: pointer;
}
.blog .container header .row-header .btn .icon { 
    position: absolute;
    top: 7px;
    left: 12px;
}
.blog .container header .row-header .btn .icon i { 
    font-size: 17px;
    color: #fff;
}
.blog .container header .row-header .btn a button:hover { 
    transition: 0.5s ease-in;
    background-color: #bd273d;
    
}
/* The Bars */


  
.sidebar {
    z-index: 111111;
    position: fixed;
    right: 0;
    width: 100%;
    height: 100%;
    background: #10285d;
    left: -100%;
}

.sidebar ul {
    list-style-type: none;
}
label #btn { 
    color: #fff;
}

.sidebar ul li a {
    text-align: center;
    font-size: 25px;
    color: #fff;
}

.sidebar ul li ul li a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 25px;
    color: white;
    padding: 0 0 0 40px;
    transition: .5s all linear;
    position: relative;
  
    left: calc(1% - 25px);
    top: 50px;
}


.sidebar ul li ul li:hover a {
    color: red;
}

#check {
    display: none;
}

label #btn {
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border-radius: 6px;
    top: 1%;
    font-size: 25px;
    padding: 6px 12px;
    z-index: 111111111;
    color: #333;
    right: 85%;
}

label #cancel {
    position: fixed;
    z-index: 1111;
    left: -80%;
    top: 1%;
    font-size: 25px;
    padding: 6px 12px;
    color: #fff;
    cursor: pointer;
}

#check:checked~.sidebar {
    left: 100px;
}

#check:checked~label #btn {
    opacity: 1;
    pointer-events: none;
}

#check:checked~label #cancel {
    left: 1%;
}
.sidebar , label ,#checkbox { 
    display: none;
}
/* The end of bars */
.blog .row { 
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.blog .row .col { 
    flex-basis: 35%;
}
.blog .row .col img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog .row .col h1 { 
    font-family: "Oswald Regular";
    font-size: 65px;
    color: #fff;
    font-weight: 600;
    padding: 0 0 10px 0;
}   
.blog .row .col h3 { 
    font-size: 13px;
    color: #fff;
    padding: 8px 0;
    font-family: "Muli";
    font-weight: 1000;
}
.blog .row .col .btn { 
    position: relative;
    padding: 20px 0;
}
.blog .row .col .btn a button { 
    background-color: #eb566c;
    font-size: 14px;
    font-family: "Oswald Regular";
    color: #fff;
    text-transform: uppercase;  
    text-align: center;
    width: 200px;
    height: 50px;
    outline: none;
    border: transparent;
    border-radius: 25px;
    cursor: pointer;
}
.blog .row .col .btn a button:hover { 
    transform:scale(1.1);
    background-color: #bd273d;
    transition: 0.3s ease-in;
}
.services { 
    padding: 195px 140px;
    position: relative;
    background-color: #f8f5f2;
}
.services .container { 
    position: relative;
}
.services .center { 

      text-align: center;
      position: relative;

}
.services .center h3 { 
    font-size: 18px;
    font-weight: 700;
    color: #eb566c;
    position: relative;
}
.services .center h3::before { 
    content: " ";
    position: absolute;
    display: initial;
    width: 50px;
    height: 2px;
    background-color: #eb566c;
    border-radius: 25px;
    left: calc(39% - 25px);
    top: 55%;
}
.services .center h1 { 
    font-size: 50px;
    color: #28395a;
    font-weight: 600;

}
.services .row { 
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
    padding: 25px 0;
}
.services .row .col { 
    flex-basis: 33%;
    padding: 94px 57px 30px 65px;
    border: #fff;
    box-shadow: 0 5px 25px rgb(218, 218, 218);
}
.services .row .col h1 { 
    font-size: 30px;
    color: #28395a;
    font-weight: 600;
    padding: 10px 0;
}
.services .row .col h3 { 
    font-size: 16px;
    color: #10285d;
    font-weight: 400;
}
.services .row .col .icon { 
    position: relative ;    
    text-align: start;
    margin: 0 0 50px 0;
}
.services .row .col .icon i { 
    font-size: 70px;
    transition: all 0.4s ease-in;
    color: #212529;
}
.services .row .col .arrow { 
    position: relative;
    display: flex;
    column-gap: 5px;
    padding: 20px 0;
    align-items: center;
    text-align: center;
}
.services .row .col .arrow i { 
    font-size: 15px;
    padding: 6px;
    color: #fff;
    background-color: #10275c;
    border-radius: 100%;
    border: transparent;
    text-align: center;
    transition:all ease 0.2s;
}
.services .row .col .arrow h4 , .services .row .col .arrow a h4{ 
    font-size: 13px;
 color: #10275c;
    font-weight: 600;
    text-transform: uppercase;
}
.services .row .col .icon i:hover { 
    color: #eb566c;
    transition: all  0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    
}
.services .row .col .get-started .arrow i:hover { 
    background: #eb566c;
    transition: 0.3 ease-out;
}
.services .row .col .get-started .arrow  h4:hover { 
    color: #eb566c;
    transition: 0.3s ease-out;
}
.services .selector { 
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    padding: 25px 0;
    position: relative;
}
.services .selector .col { 
    flex-basis: 33%;
    position:relative;
    left: 30%;
}
.services .selector .col h2 { 
    font-size: 40px;
    color: #eb566c;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Oswald Regular";
}
.domain { 
    background: url(../images/domain\ background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 75px 150px;
}
.domain .start-h { 
    text-align: start;
}
.domain .start-h h3 { 
    font-size: 18px;
    color: #eb566c;
    position: relative;
    font-weight: 600;
}
.domain .start-h h3::before { 
    content: " ";
    position: absolute;
    display: initial;
    width: 50px;
    height: 2px;
    background-color: #eb566c;
    border-radius: 25px;
    left: calc(-4% - 25px);
    top: 55%;
}
.domain .row { 
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    padding: 20px 0;
    position: relative;
    align-items: center;
}
.domain .row .left { 
    flex-basis: 40%;
}
.domain .row .right { 
    flex-basis: 65%;
}
.domain .row .left h1 { 
    font-size: 50px;
    color: #fff;
    font-weight: 600;
    font-family: "Oswald Regular";
}
.domain .row .right .input { 
    position: relative;
}
.domain .row .right .input input { 
    width: 100%;
    height: 60px;
    color: #777;
    font-size: 18px;
    font-weight: 700;
    padding: 9px 32px 9px 31px;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}
.domain .row .right .input input::placeholder { 
    font-family: "Oswald Regular";
    font-weight: 100;
}
.domain .row .right-2 .select { 
    position: relative;
}
.domain .row .right-2 .select #choose { 
    width: auto;
    height: 60px;
    background: #fff;
    border-radius: 0px;
    color: #020230;
    line-height: 38px;
    border: 0;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50px;
    position: relative;
    right: 60px;
    outline: none;
}
.domain .row .right-2 .select #choose option { 
    border: 1px solid #dbdbdb;
    padding: 20px;
    background-color: #dbdbdb;
    color: #020230;
}
.domain .row .right-2 , .right-3 { 
    flex-basis: 20%;
}
.domain .row .right-3 .btn { 
    position: relative;
}
.domain .row .right-3 .btn a button { 
    width: 150px;
    height: 78px;
    border: none;
    border-radius: 50px;
    color: #fff;
    line-height: 38px;
    font-size: 16px;
    background: #eb566c;
    border-radius: 50px;
    position: relative;
    right: 144px;
    font-family: "Oswald Regular";
    padding: 9px 32px 9px 31px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}
.domain .prices { 
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #032a57;
    border-radius: 10px;
    padding: 15px 0px;
    margin: 0 15px;
    position: relative;
}
.domain .prices .col-prices { 
    padding: 0 20px;
    position: relative;
}
.domain .prices .col-prices .nth-1 { 
    color: #ff7474;
    font-size: 20px;
    font-weight: 100;
    position: relative;
}
.domain .prices .col-prices .nth-1::after { 
    content: " ";
    position: absolute;
    display: initial;
    background-color: #032a57;
    width: 1px;
    height: 74px;
    left: 190%;
    top: -35%;
}
.domain .prices .col-prices .nth-2{ 
color: #ffdd74;
font-size: 20px;
font-weight: 100;
}
.domain .prices .col-prices .nth-2::after { 
    content: " ";
    position: absolute;
    display: initial;
    background-color: #032a57;
    width: 1px;
    height: 74px;
    left: 190%;
    top: -35%;
}
.domain .prices .col-prices .nth-3 { 
    color: #74ff9f;
    font-size: 20px;
    font-weight: 100;
}
.domain .prices .col-prices .nth-3::after { 
    content: " ";
    position: absolute;
    display: initial;
    background-color: #032a57;
    width: 1px;
    height: 74px;
    left: 190%;
    top: -35%;
}
.domain .prices .col-prices .nth-4 { 
    color: #748bff;
    font-size: 20px;
    font-weight: 100;
}
.domain .prices .col-prices .nth-4::after { 
    content: " ";
    position: absolute;
    display: initial;
    background-color: #032a57;
    width: 1px;
    height: 74px;
    left: 190%;
    top: -35%;
}
.domain .prices .col-prices .nth-5 { 
    color: #f074ff;
    font-size: 20px;
    font-weight: 100;
}

.domain .prices .col-prices .nth-6{ 
    color: #f074ff;
    font-size: 20px;
    font-weight: 100;
}
.domain .prices .col-prices .nth-5::before { 
    content: " ";
    position: absolute;
    display: initial;
    background-color: #032a57;
    width: 1px;
    height: 74px;
    left: 190%;
    top: -35%;
}

.domain .prices .col-prices h4 { 
    color: #636376;
    margin: 0;
    font-family: "Oswald Regular";
    font-weight: 100;
}
.post { 
    padding: 200px;
    background-color: #fff;
}
.post .left { 
    text-align: start;
    position: relative;
}
.post .left h3 { 
    font-size: 18px;
    font-weight: 700;
    color: #eb566c;
    position: relative;
    padding: 30px 0;
}
.post .left h3::before { 
    position: absolute;
     content: " ";
   display: initial;
    width: 50px;
    height: 2px;
    background-color: #eb566c;
    border-radius: 25px;
    left: calc(-4% - 25px);
    top: 50%;
}
.post .row { 
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    padding: 10px 0;
    position: relative;
    align-items: center;
}
.post .row .col { 
    flex-basis: 50%;
    align-self: center;
}
.post .row .col h1 {    
    font-size: 50px;
    color: #28395a;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Oswald Regular";
    padding: 20px 0;
}
.post .row .col img {   
    width: 100%;
    object-fit: cover;
}
.post .row .col h3 { 
    font-size: 16px;
    color: #10285d;
    font-weight: 100;
    padding: 20px 0;

}
.post .row .col .btn a button { 
    background-color: #eb566c;
    font-size: 14px;
    font-family: "Oswald Regular";
    color: #fff;
    text-transform: uppercase;  
    text-align: center;
    width: 200px;
    height: 50px;
    outline: none;
    border: transparent;
    border-radius: 25px;
    cursor: pointer;
}
.post .row .col .btn a button:hover { 
    transform:scale(1.1);
    background-color: #bd273d;
    transition: 0.3s ease-in;
}
.post .row .col .btn { 
    position: relative;
}
.post .more-info { 
    padding: 150px 0;
}
.post .more-info .left-info { 
    position: relative;
    text-align: start;
}
.post .more-info .left-info h3 { 
    font-size: 18px;
    font-weight: 700;
    color: #eb566c;
    position: relative;
    padding: 30px 0;
}
.post .more-info .left-info h3::before { 
    position: absolute;
    content: " ";
  display: initial;
   width: 50px;
   height: 2px;
   background-color: #eb566c;
   border-radius: 25px;
   left: calc(-4% - 25px);
   top: 50%;
}
.post .more-info .we { 
    position: relative;
    padding: 20px 0;
}
.post .more-info .we h1 { 
    font-size: 50px;
    color: #28395a;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Oswald Regular";
    padding: 10px 0;
}
.post .best-service { 
    padding: 50px 0;
    position: relative;
}
.post .best-service .left { 
    flex-basis: 35%;
    background: #ff4f5b;
    padding: 78px 73px;
    position: relative;
    width: 60%;
    text-align: center;
}
.post .best-service .right { 
    flex-basis: 65%;
    padding: 0 0 0 60px;
    position: relative;
    left: 30px;
}
.post .best-service .left .icon {   
    width: 100px;
    height: 100px;
    background-color: #fce0d8;
    border-radius: 100%;
    left: 90px;
    position: relative;
}
.post .best-service .left .icon img { 
top: 25px;
}
.post .best-service .left .image-corner { 
    position: relative;
}
.post .best-service .left .image-corner #posht { 
    position: absolute;
    bottom: 0;
    right: 13px;
    top: -83px;
}
.post .best-service .left .image-corner #nalt { 
    position: absolute;
    top: -600px;
    right: -26%;
}
hr { 
    border: 1px solid #dbdbdb;
}
.post .best-service .left .content { 
    position: relative;
}
.post .best-service .left .content h2 { 
    font-family: "Oswald Regular";
    color: #fff;
    padding: 30px 0;
    font-size: 30px;
}
.post .best-service .left .content h4 { 
    font-size: 16px;
    color: #fff;
    font-family: "Oswald Regular";
    font-weight: 100;
    padding: 10px 0;
}
.post .best-service .left .btn { 
    position: relative;
    z-index: 1111111111;
    padding: 10px 0;
}
.post .best-service .left .btn a button { 
    background-color: #fff;
    font-size: 14px;
    font-family: "Oswald Regular";
    color: #10275c;
    text-transform: uppercase;  
    text-align: center;
    width: 200px;
    height: 50px;
    outline: none;
    border: transparent;
    border-radius: 25px;
    cursor: pointer;
}
.post .best-service .left .btn a button:hover { 
    transform:scale(1.1);
    background-color: #df3851;
    transition: 0.3s ease-in;
    color: #fff;
}
.post .best-service .right .left-content { 
    text-align: start;
    position: relative;
    padding: 20px 0;
    align-self: center;
}
.post .best-service .right .left-content h3 { 
    font-size: 18px;
    font-weight: 700;
    color: #eb566c;
    padding: 20px 0;
}
.post .best-service .right .left-content h3::before { 
    position: absolute;
    content: " ";
  display: initial;
   width: 50px;
   height: 2px;
   background-color: #eb566c;
   border-radius: 25px;
   left: calc(-7% - 25px);
   top: 50%;
}
.post .best-service .right .mid-content { 
    position: relative;
}
.post .best-service .right .mid-content h1 { 
    font-size: 50px;
    color: #28395a;
    font-weight: 700;
    font-family: "Oswald Regular";
}
.post .best-service .right .mid-content h4 { 
    font-size: 16px;
    color: #10285d;
    font-weight: 100;
}
.post .best-service .button-2  {
    display: flex;
    position: relative;
    padding: 20px 0;
    justify-content: center;
}
.post .best-service .button-2 .left-btn { 
    position: relative;
}
.post .best-service .button-2 .left-btn a button { 
    cursor: pointer;
    width: 150px;
    height: 60px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
    background: #ff4f5b;
    color: #fff;
    font-size: 16px;
    font-family: "Oswald Regular";
    outline: none;
    text-transform: uppercase;
}
.post .best-service .button-2 .right-btn { 
    position: relative;
}
.post .best-service .button-2 .right-btn a button { 
    cursor: pointer;
    width: 150px;
    height: 60px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    background: #fce0d8;
    color: #020230;
    font-size: 16px;
    font-family: "Oswald Regular";
    outline: none;
    text-transform: uppercase;
}
.quotes { 
    position: relative;
    align-items: center;
    align-self: center;
}
.quotes .row-quotes { 
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    padding: 20px;
    position: relative;
    align-items: center;
}
.quotes .row-quotes .col-quote-1 { 
    flex-basis: 50%;
    position: relative;
   
}
.quotes .row-quotes .col-quote-2 { 
    flex-basis: 50%;
    position: relative;
}
.quotes .row-quotes .col-quote-2 img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.quotes .row-quotes .flex { 
    display: flex;
    column-gap: 20px;
    padding: 10px 0;
    align-items: center;
}
.quotes .row-quotes .flex .right { 
    position: relative;
}
.quotes .row-quotes .flex .right h2 { 
    font-size: 30px;
    color: #eb566c;
    font-weight: 700;
    font-family: "Oswald Regular";
}
.quotes .row-quotes .flex .right h4 { 
    font-size: 16px;
    color: #57667e;
    font-weight: 500;
}
.quotes .row-quotes .content-mid { 
    position: relative;
}
.quotes .row-quotes .content-mid h3 { 
    font-size: 18px;
    color: #57667e;
    font-weight: 600;
}
.support { 
    background: url(../images/gallery\ support.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.support .row { 
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
      padding: 0 100px 100px 100px;
}
.support .row .col { 
    flex-basis: 50%;
}
.support .row .col h1 { 
    font-size: 50px;
    color: #f2f2f2;
    font-family: "Oswald Regular";
    font-weight: 700;
}
.support .row .col h3 { 
    font-size: 16px;
    font-family: "Oswald Regular";
    color: #fff;
    font-weight: 300;
}
.support .row .col .flexed { 
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding: 0 20px;
}
.support .row .col .flexed .icons { 
    position: relative;
    width: 165px;
    height: 136px;
    display: inline-block;
    border-radius: 10px;
    margin: 0 15px;
    background-color: #eb566c;
    text-align: center;
    align-self: center;
    align-items: center;
}
.support .row .col .flexed .icons i { 
    background-color: #ff6b81;
    font-size: 18px;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    position: relative;
    top: 25%;
    border-radius: 50%;
}
.support .row .col .flexed .icons .fa-phone:before { 
    position: relative;
    top: 15px;
}
.support .row .col .flexed .icons .fa-comment-alt:before, .fa-message:before { 
    position: relative;
    top: 15px;
}
.support .row .col .flexed .icons h3 { 
    position: relative;
    top: 45px;
}
.support .left { 
    padding: 100px;
    text-align: start;
}
.support .left h3 { 
    font-size: 18px;
    font-weight: 700;
    color: #eb566c;
    position: relative;
    padding: 30px 0;
}
.support .left h3::before { 
    position: absolute;
    content: " ";
  display: initial;
   width: 50px;
   height: 2px;
   background-color: #eb566c;
   border-radius: 25px;
   left: calc(-4% - 25px);
   top: 50%;
}
.news { 
    padding: 150px;
    background-color: #fff;
}
.news .container { 
    position: relative;
}
.news .center { 
    text-align: center;
    padding: 20px 0;
    position: relative;
}
.news .center h3 { 
    font-size: 18px;
    font-weight: 700;
    color: #eb566c;
    position: relative;
    padding: 30px 0;
}
.news .center h1 { 
    font-size: 50px;
    color: #28395a;
    font-family: "Oswald Regular";
    font-weight: 600;
}
.news .center h3::before { 
    position: absolute;
    content: " ";
  display: initial;
   width: 50px;
   height: 2px;
   background-color: #eb566c;
   border-radius: 25px;
   left: calc(42% - 25px);
   top: 50%;
}
.news .row { 
    display: flex;
    justify-content: space-between;
    column-gap: 75px;
    padding: 20px 0;
}
.news .row .col { 
    flex-basis: 33%;
}
.news .row .col img { 
    width: 100%;
   border-radius: 6px;
    object-fit: cover;
    object-position: center;
}
.news .row .col .below { 
    position: relative;
    background-color: #fff9f9;
    padding: 29px 20px 20px 31px;
    right: 0;
    bottom: 50px;
    width: 83%;
    border-radius: 6px;
    transition: all 1s ease-in;
}
.news .row .col .below h4 { 
    font-size: 14px;
    text-transform: uppercase;
    color: #57667e;
    font-family: "Oswald Regular";
    font-weight: 200;
}
.news .row .col .below h2 { 
    font-size: 23px;
      cursor: pointer;
    color: #333;
    font-weight: 600;
}
.news .row .col .below h2:hover { 
    color: #eb566c;
    transition: all 0.2s ease-in;
}
footer { 
    background: url(../images/footer\ bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
footer .footer-top { 
    padding: 100px;
    position: relative;
}
footer .footer-top .row { 
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    padding: 10px 0;
}
.footer-top .row .col { 
    flex-basis: 33%;
}
.footer-top .row .col h3 { 
    color: #fff;
    font-size: 20px;
    font-family: "Oswald Regular";
    font-weight: 100;
    padding: 0 0 25px 0;
}
.footer-top .row .col h4 { 
    font-size: 16px;
    color: #8ba4b1;
    font-weight: 300;
}
.footer-top .row .col ul { 
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
    flex-direction: column;
}
.footer-top .row .col ul  li a { 
    font-size: 16px;
    color: #8ba4b1;
    font-weight: 300;
}
.footer-top .row .col ul li a:hover { 
    color: #eb566c;
    padding: 0 0 0 15px;
    transition: 0.3s linear;
}
.footer-bottom { 
    padding: 30px 100px;
    position: relative;
}
.footer-bottom .center { 
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}
.footer-bottom .center .col { 
    flex-basis: 50%;
}
.footer-bottom .center .col h3 { 
    font-size: 16px;
    color: #8ba4b1;
    font-family: "Oswald Regular";
    font-weight: 200;
}
.footer-bottom .center .col span { 
    color: #eb566c;
    font-size: 16px;
    font-family: "Oswald Regular";
    font-weight: 200;
    border: none ;
}
.footer-bottom .center .col h3 i { 
    font-size: 20px;
    color: #eb566c;
}
.footer-bottom .center .col .icons { 
    display: flex;
    column-gap: 20px;
    justify-content: end;
    
}
.footer-bottom .center .col .icons a i { 
      color: #8ba4b1;
      border:1px solid  #f5f5f5;
      font-size: 14px;
      padding: 10px 15px;
      border-radius: 50%;   

}

.footer-bottom .center .col .icons a i:hover { 
    background-color: #eb566c;
    border: none;
    transition: all 0.3s ease-in;
    color: #fff;
}
@media only screen and (max-width:650px) { 
    html , body { 
        overflow-x: hidden;
    }
    * { 
        padding: 0;
        margin: 0;
    }
    ::-webkit-scrollbar { 
        display: none;
    }
    header .nav { 
        display: none;
    }
    header .sidebar { 
        display: initial;
    }
    header label { 
        display: initial;
    }
    header .btn { 
        display: none;
    }
    #check:checked~.sidebar {
        left: 0;
        transition: 0.5s ease-in;
        top: 0;
        z-index: 1;
        }
        #check:checked~label #cancel {
            top: 3%;
            left: 7%;
        }
        .blog .container header .row-header .logo { 
            left: 10px;
        }
        .blog { 
            padding: 100px 20px;
        }
        .blog .row { 
            flex-direction: column;
            row-gap: 20px;
        }
        .blog .row .col h1 { 
            font-size: 35px;
        }
        .services { 
            padding: 30px;
        }
        .services .center h3::before { 
            left: calc(20% - 25px);
        }
        .services .center h1 { 
            font-size: 25px;
        }
        .services .row { 
            flex-direction: column;
            row-gap: 20px;
        }
        .services .selector { 
            display: none;
        }
        .domain { 
            padding: 20px 75px;
        }
        .domain .start-h h3::before { 
            left: calc(-12% - 25px);
        }
        .domain .row .left h1 { 
            font-size: 25px;
            text-align: center;
        }
        .domain .row { 
            flex-direction: column;
            row-gap: 20px;
        }
        .domain .row .right .input { 
            right: 30px;
        }
        .domain .row .right .input input { 
            height: 30px;
            border-radius: 0;
        }
        .domain .row .right-2 .select #choose { 
            width: 333px;
            height: 30px;
            right: 0;
            border-radius: 0;
            outline: none;
        }
        .domain .row .right-3 .btn a button { 
            right: 0;
            border-radius: 0;
            height: 60px;
            width: 100%;
            width: 333px;
        }
        .domain .prices { 
            flex-direction: column;
            row-gap: 20px;
            margin: 0;
        }
        .domain .prices .col-prices .nth-1::after { 
            content: " ";
    position: absolute;
    display: initial;
    background-color: #032a57;
    width: 200px;
    height: 1px;
    left: 190%;
    top: 220%;
    left: 15px;
        }
        .domain .prices .col-prices .nth-2::after { 
            content: " ";
            position: absolute;
            display: initial;
            background-color: #032a57;
            width: 200px;
            height: 1px;
            left: 190%;
            top: 220%;
            left: 15px;
        }
        .domain .prices .col-prices .nth-3::after { 
            content: " ";
            position: absolute;
            display: initial;
            background-color: #032a57;
            width: 200px;
            height: 1px;
            left: 190%;
            top: 220%;
            left: 15px;
        }
        .domain .prices .col-prices .nth-4::after { 
            content: " ";
            position: absolute;
            display: initial;
            background-color: #032a57;
            width: 200px;
            height: 1px;
            left: 190%;
            top: 220%;
            left: 15px;
        }
        .domain .prices .col-prices .nth-5::after { 
            content: " ";
            position: absolute;
            display: initial;
            background-color: #032a57;
            width: 200px;
            height: 1px;
            left: 190%;
            top: 220%;
            left: 15px;
        }
        .post { 
            padding: 40px;
        }
        .post .left h3::before { 
            width: 25px;
        }
        .post .row .col h1 { 
            font-size: 25px;
        }
        .post .row { 
            flex-direction: column;
            row-gap: 20px;
        }
        .post .more-info .left-info h3::before { 
            width: 25px;
        }
        .post .more-info .we h1 { 
            font-size: 25px;
        }
        .post .best-service .left .icon { 
            left: 0;
            margin: 0 auto;
        }
        .post .best-service .right .left-content h3::before { 
            width: 25px;
        }
        .post .best-service .right .mid-content h1 { 
            font-size: 25px;
        }
        .post .best-service .right {
             left: 0;
        }
        .quotes .row-quotes { 
            flex-direction: column;
            row-gap: 20pox;
        }
        .support .left { 
            padding: 30px;
        }
        .support .left h3::before { 
            width: 25px;
        }
        .support .row { 
            flex-direction: column;
            row-gap: 20px;
        }
        .support .row .col .flexed { 
            flex-direction: column;
            row-gap: 25px;
        }
        .news { 
            padding: 30px;
        }
        .news .center h3::before { 
            width: 25px;
            left: calc(35% - 25px);
        }
        .news .center h1 { 
            font-size: 25px;
        }
        .news .row { 
            flex-direction: column;
            row-gap: 20px;
        }
      footer  .footer-top { 
            padding: 20px;
        }
        footer .footer-top .row { 
            flex-direction: column;
            row-gap: 20px;
        }
        .footer-bottom { 
            padding: 20px 10px;
        }
        .footer-bottom .center { 
            flex-direction: column;
            row-gap: 20px;
        }
        .footer-bottom .center .col { 
            text-align: center;
        }
}
@media only screen and (min-width:651px) and (max-width:920px) { 
    html , body { 
        overflow-x: hidden;
    }
    * { 
        padding: 0;
        margin: 0;
    }
    ::-webkit-scrollbar { 
        display: none;
    }
    header .nav { 
        display: none;
    }
    header .sidebar { 
        display: initial;
    }
    header label { 
        display: initial;
    }
    header .btn { 
        display: none;
    }
    #check:checked~.sidebar {
        left: 0;
        transition: 0.5s ease-in;
        top: 0;
        z-index: 1;
        }
        #check:checked~label #cancel {
            top: 3%;
            left: 7%;
        }
        .blog .container header .row-header .logo { 
            left: 50px;
        }
        .blog .row { 
            flex-direction: column;
            row-gap: 20px;
        }
        .services { 
            padding: 50px;
        }
        .services .row { 
            flex-direction: column;
            row-gap: 20px;
        }
        .services .center h3::before { 
            left: calc(30% - 25px);
        }
        .services .selector .col { 
            left: 0;
            text-align: center;
        }
        .domain { 
            padding: 50px 75px;
        }
        .domain .start-h h3::before {
   left: calc(-7% - 25px);

        }
        .domain .row { 
            flex-direction: column;
            row-gap: 20px;
        }
        .domain .row .right-2 .select #choose { 
            bottom: 88px;
    left: 80px;
        }
        .domain .row .right .input input { 
            right: 100px;
        }
        .domain .row .right-3 .btn a button { 
            bottom: 178.5px;
    left: 189px;
        }
        .domain .prices { 
            right: 50px;
        }
        .domain .prices .col-prices .nth-1::after , .domain .prices .col-prices .nth-2::after ,.domain .prices .col-prices .nth-3::after , .domain .prices .col-prices .nth-4::after ,.domain .prices .col-prices .nth-5::after { 
            left: 135%;
        }
        .domain .prices .col-prices .nth-5::before { 
            left: 135%;
        }
        .post { 
            padding: 50px;
        }
        .post .row .col h1 { 
            font-size: 25px;
        }
        .post .left h3::before { 
            width: 25px;
            left: calc(-2% - 25px);
        }
        .post .more-info .left-info h3::before { 
            left: calc(-2% - 25px);
            width: 25px;
        }
        .post .more-info .we h1 { 
            font-size: 25px;
        }   
        .post .row { 
            flex-direction: column;
            row-gap: 20px;
        }
        .post .best-service .left .icon { 
            left: 150px;
        }
        .post .best-service .left .image-corner #posht , .post .best-service .left .image-corner #nalt { 
            display: none;
        }
        .post .best-service .left .icon { 
            margin: 0 auto;
            left: 0;
        }
        .post .best-service .right { 
            left: 0;
        }
        .support .left { 
            padding: 50px;
        }
        .support .row .col { 
            align-self: center;
        }
        .support .row { 
            padding: 0 25px 25px 25px;
        }
        .support .left h3::before { 
            width: 25px;
            left: calc(-2% - 25px);
        }
        .news { 
            padding: 50px;
        }
        .news .center h3::before { 
            width: 25px;
            left: calc(40% - 25px);
        }
        .news .center h1 { 
            font-size: 25px;
        }
        .news .row .col .below { 
            padding: 20px 10px;
        }
        .news .row .col .below h2 { 
            font-size: 18px;
        }
        footer .footer-top { 
            padding: 50px;
        }
        .footer-bottom .center .col h3 { 
            font-size: 13px;
        }
}
@media only screen and (min-width:921px) and (max-width:1240px) { 
    html , body { 
        overflow-x: hidden;
    }
    * { 
        padding: 0;
        margin: 0;
    }
    ::-webkit-scrollbar { 
        display: none;
    }
    .blog .container header .row-header .logo {
      left: 25px;
    }
    .blog .container header .row-header .btn { 
        right: 25px;
    }
    .blog .row .col h1 { 
        font-size: 40px;
    }
    .services { 
        padding: 150px 125px;
    }
    .services .center h3::before { 
        left: calc(36% - 25px);
    }
    .domain .row .right-2, .right-3 { 
        flex-basis: 25%;
    }
    .domain .row .left h1 { 
        font-size: 30px;
    }
    .domain .row .right-2 .select #choose { 
        right: 85px;
    }
    .domain .prices .col-prices .nth-1::after , .domain .prices .col-prices .nth-2::after , .domain .prices .col-prices .nth-3::after , .domain .prices .col-prices .nth-4::after , .domain .prices .col-prices .nth-5::after { 
        left: 130%;
    }
    .domain .prices .col-prices .nth-5::before { 
        left: 130%;
    }
    .post { 
        padding: 150px;
    }
    .post .best-service .right .left-content h3::before { 
        width: 25px;
    }
    .support .row { 
        align-items: center;
    }
    .news { 
        padding: 100px;
    }
    .news .center h3::before { 
        left: calc(40% - 25px);
    }
    .post .best-service .left .icon { 
        left: 0;
        margin: 0 auto;
    }
}
@media only screen and (min-width:1241px) and (max-width:1740px){ 
    html , body { 
        overflow-x: hidden;
    }
    * {
        padding: 0;
        margin: 0;
    }
    ::-webkit-scrollbar { 
        display: none;
    }
    .domain .row .right-2 { 
        flex-basis: 16%;
    }
    .domain .row .right-3 { 
        flex-basis: unset;
    }
    .domain .row .right-2 .select #choose { 
        right: 70px;
    }
    .post .best-service .left .icon { 
        left: 0;
        margin: 0 auto;
    }
}
@media only screen and (min-width:1741px) { 
    html , body { 
        overflow-x: hidden;
    }
    * { 
        padding: 0;
        margin: 0;
    }
    .domain .row .right { 
        flex-basis: 90%;
    } 
    .domain .row .right-3 { 
        right: 40px;
    }

}